<ion-list>
  <ion-item>
    <ion-label><ion-icon name="bag-handle-outline"></ion-icon> </ion-label>
    <ion-input placeholder="Categoría"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="beer-outline"></ion-icon> </ion-label>
    <ion-input placeholder="Nombre Producto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="basket-outline"></ion-icon> </ion-label>
    <ion-input placeholder="Detalle Producto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="cash-outline"></ion-icon> </ion-label>
    <ion-input placeholder="Precio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="pricetag-outline"></ion-icon> </ion-label>
    <ion-input placeholder="Nombre Item"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="add-circle-outline"></ion-icon> </ion-label>
    <ion-input placeholder="Detalle Item"></ion-input>
  </ion-item>
</ion-list>    

<ion-item>
  <ion-button [routerLink]="['/menu']" routerLinkActive="router-link-active" >Volver</ion-button>
  <ion-button>Guardar</ion-button>
</ion-item>

