<ion-list [inset]="true">
  <ion-label style="margin: 45px; text-align: center;">Factura #1</ion-label>
  <br><br>
  <ion-item>
    <ion-label>Nombre Categoría: <i>Nerdy</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Codigo: <i>546132</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nombre Producto: <i>Pantalón</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Detalle: <i>Jean</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Precio: <i>$20.000 pesos</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nombre Item: <i>Vestimenta</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Detalle: <i>Made in Kuala lumpur</i> </ion-label>
  </ion-item>
</ion-list>

<ion-list [inset]="true">
  <ion-label style="margin: 45px; text-align: center;">Factura #2</ion-label>
  <br><br>
  <ion-item>
    <ion-label>Nombre Categoría: <i>Hyperbeast</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Codigo: <i>654321</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nombre Producto: <i>Yacket</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Detalle: <i>Blue yak</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Precio: <i>$33.000 pesos</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nombre Item: <i>Hyperbeast</i> </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Detalle: <i>Made in China</i> </ion-label>
  </ion-item>
</ion-list>

<ion-item>
  <ion-button [routerLink]="['/menu']" routerLinkActive="router-link-active" >Volver</ion-button>

</ion-item>