<br><br><br>
  
<a [routerLink]="['/registrof']" routerLinkActive="routerLinkActive">
  <ion-button class="botones">
    <ion-icon name="bag-check-outline"></ion-icon>
    Registrar facturas
  </ion-button>
</a> 
  
  <br>
  
<a [routerLink]="['/listaf']" routerLinkActive="routerLinkActive"> 
  <ion-button class="botones">
    <ion-icon name="list-circle-outline"></ion-icon>
      Listar Facturas
  </ion-button><br><br><br>
</a>
  

<a [routerLink]="['/']" routerLinkActive="routerLinkActive">Volver</a>
